*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  color: #464646;
}

button,
input {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.strap-background {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  z-index: 100;
  height: 9rem;
}

.strap-background .strap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  height: 9rem;
}

.strap-background .strap .logo,
.strap-background .strap .strap-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  font-size: 2.5rem;
  color: #464646;
  cursor: pointer;
}

.strap-background .strap .logo-icon-animation-start {
  -webkit-animation: logo-visible-start 10s both;
          animation: logo-visible-start 10s both;
}

.strap-background .strap .logo-icon,
.strap-background .strap .logo-text,
.strap-background .strap .fa-github,
.strap-background .strap .nav-buttons {
  padding: 0 0.5rem;
}

.strap-background .strap .nav-buttons .bar-nav {
  border: none;
  background: none;
  font-size: 2.5rem;
  color: #464646;
}

.strap-background .strap .logo-text span {
  color: #a52785;
}

.mobile {
  position: fixed;
  top: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 9rem;
  height: calc(100vh - 9rem);
  width: 100%;
  background-color: white;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
  z-index: 500;
}

.mobile .buttons-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile .buttons-login button {
  background: none;
  border: none;
}

.mobile .buttons-login button a {
  display: block;
  text-decoration: none;
  color: #464646;
  font-size: 2rem;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin: 1rem 0;
  width: 25rem;
}

.mobile .buttons-login li.main-beta {
  position: relative;
  width: 100%;
  color: #464646;
  position: relative;
  padding: 1.5rem 0;
  font-size: 2rem;
  list-style: none;
  text-align: center;
}

.mobile .buttons-login li.main-beta::after {
  content: 'beta';
  position: absolute;
  top: 50%;
  right: 11%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #a52785;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.2rem 0.4rem;
}

.mobile .buttons-login .reg a {
  border: 1px solid #a52785;
}

.mobile ul {
  margin: 2rem 0;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

.mobile ul li {
  position: relative;
  padding: 1.5rem 0;
  list-style: none;
  text-align: center;
}

.mobile ul li a {
  padding: 1.5rem 2rem;
  text-decoration: none;
  color: #464646;
  font-size: 2rem;
  width: 100%;
  height: 100%;
}

.mobile ul li::after {
  content: '';
  position: absolute;
  height: 0.1rem;
  bottom: 0rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10rem;
  background-color: #e6e6e6;
}

.mobile ul li:nth-last-of-type(1)::after {
  display: none;
}

.mobile .ul-mobile li:nth-last-of-type(1) {
  margin-bottom: 2rem;
}

.login-panel-container,
.login-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  width: 85%;
  margin-top: 9rem;
  -webkit-transition: opacity 10s;
  transition: opacity 10s;
  margin: 0 auto;
}

.login-panel .login-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.login-panel .login-buttons button {
  background: none;
  border: none;
  text-decoration: none;
  color: #464646;
  font-size: 2rem;
  border: 1px solid #a52785;
  border-radius: 8px;
  padding: 1rem 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.login-panel .login-buttons:nth-of-type(3) {
  position: relative;
  z-index: 1;
}

.login-panel .login-buttons:nth-of-type(3)::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}

.login-panel h1.main {
  color: #464646;
  font-weight: 600;
  text-align: center;
  margin: 1rem 0;
}

.login-panel .login-panel-container {
  width: 100%;
  margin-top: 2.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-panel .login-panel-container h2.main {
  color: #464646;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.login-panel .login-panel-container .global-error {
  text-align: center;
  width: 80%;
  border-radius: 8px;
  color: tomato;
  font-size: 1.3rem;
}

.login-panel .login-body {
  width: 90%;
}

.login-panel .login-body .email,
.login-panel .login-body .password,
.login-panel .login-body .registration-panel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-panel .login-body .email .error-input,
.login-panel .login-body .password .error-input,
.login-panel .login-body .registration-panel-container .error-input {
  border: 1px solid tomato;
}

.login-panel .login-body .email label,
.login-panel .login-body .password label,
.login-panel .login-body .registration-panel-container label {
  margin: 1rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.login-panel .login-body .email input,
.login-panel .login-body .password input,
.login-panel .login-body .registration-panel-container input {
  padding: 1rem 2rem;
  font-size: 2rem;
  border: 1px solid #464646;
  border-radius: 8px;
}

.login-panel .login-body .email input:focus,
.login-panel .login-body .password input:focus,
.login-panel .login-body .registration-panel-container input:focus {
  outline: none;
  border: 1px solid #a52785;
}

.login-panel .login-body .email .generate-paragraph,
.login-panel .login-body .password .generate-paragraph,
.login-panel .login-body .registration-panel-container .generate-paragraph {
  margin-bottom: 1rem;
}

.login-panel .login-body .email .error,
.login-panel .login-body .password .error,
.login-panel .login-body .registration-panel-container .error {
  margin: 0.5rem 0;
  font-size: 1.3rem;
  color: tomato;
}

.login-panel .login-body .email .generate-error,
.login-panel .login-body .password .generate-error,
.login-panel .login-body .registration-panel-container .generate-error {
  margin: 0;
}

.login-panel .login-body .email,
.login-panel .login-body .password {
  margin: 0rem 0;
}

.login-panel .registration-panel-container {
  text-align: center;
}

.open-hyper-animation {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(100vh - 9rem);
}

.open-hyper-animation .logo {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: #464646;
}

.open-hyper-animation .logo .logo-text,
.open-hyper-animation .logo .logo-icon {
  padding: 0 0.5rem;
}

.open-hyper-animation .logo span {
  color: #a52785;
}

.open-hyper-animation .lds-ripple {
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.open-hyper-animation .lds-ripple div {
  position: absolute;
  border: 4px solid #a52785;
  opacity: 0;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.open-hyper-animation .lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.hyper-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  opacity: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
}

.hyper-main .hyper-bar,
.hyper-main .hyper-menu-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  line-height: 4rem;
  z-index: 60;
}

.hyper-main .hyper-bar {
  position: fixed;
  top: 9rem;
  width: 100%;
  background-color: white;
  border-bottom: 0.1rem solid #e6e6e6;
}

.hyper-main .hyper-bar .hyper-menu-buttons {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 1.6rem;
  cursor: pointer;
}

.hyper-main .hyper-bar .hyper-menu-buttons button {
  margin-right: 1rem;
  font-size: 1.6rem;
  background: none;
  border: none;
}

.hyper-main .hyper-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 13rem);
  width: 100%;
  left: -100%;
  top: 13rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
  z-index: 100;
}

.hyper-main .hyper-menu .hyper-ul {
  position: absolute;
  opacity: 0;
  margin: 2rem 0;
  width: 100%;
  font-size: 2rem;
}

.hyper-main .hyper-menu .hyper-ul .li-hyper {
  position: relative;
  padding: 1.5rem 0;
  list-style: none;
  text-align: center;
  color: #464646;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.hyper-main .hyper-menu .hyper-ul .li-hyper::after {
  content: '';
  position: absolute;
  height: 0.1rem;
  bottom: 0rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10rem;
  background-color: #e6e6e6;
}

.hyper-main .hyper-menu .hyper-ul .li-hyper:hover {
  color: #a52785;
}

.hyper-main .hyper-menu .hyper-ul li:nth-last-of-type(1)::after {
  display: none;
}

.hyper-main .menu-hyper-transition-left {
  left: 50%;
}

.hyper-main .page {
  margin-top: 6.5rem;
  padding: 0 2.5rem;
}

.hyper-main .page .page-button {
  padding: 1rem 1.5rem;
  border: none;
  background: none;
  font-size: 1.6rem;
  border: 1px solid #a52785;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  width: 60%;
  margin-bottom: 2.5rem;
}

.hyper-main .page .page-button:hover {
  color: #a52785;
}

.hyper-main .page .info {
  position: absolute;
  top: 38%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.hyper-main .open-hyper-main {
  display: none;
  opacity: 0;
}

.hyper-main .orders-main,
.hyper-main .products-main {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
  width: 100%;
}

.hyper-main .orders-main .orders-main-buttons,
.hyper-main .products-main .orders-main-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 0.1rem solid #e6e6e6;
}

.hyper-main .orders-main .order-info,
.hyper-main .products-main .order-info {
  font-weight: bold;
}

.hyper-main .orders-main .order,
.hyper-main .orders-main .order-info,
.hyper-main .products-main .order,
.hyper-main .products-main .order-info {
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  font-size: 1.4rem;
  background-color: white;
  z-index: 20;
}

.hyper-main .orders-main .order .order-id,
.hyper-main .orders-main .order .id,
.hyper-main .orders-main .order-info .order-id,
.hyper-main .orders-main .order-info .id,
.hyper-main .products-main .order .order-id,
.hyper-main .products-main .order .id,
.hyper-main .products-main .order-info .order-id,
.hyper-main .products-main .order-info .id {
  width: 3.9rem;
}

.hyper-main .orders-main .order .order-name,
.hyper-main .orders-main .order .buyer,
.hyper-main .orders-main .order-info .order-name,
.hyper-main .orders-main .order-info .buyer,
.hyper-main .products-main .order .order-name,
.hyper-main .products-main .order .buyer,
.hyper-main .products-main .order-info .order-name,
.hyper-main .products-main .order-info .buyer {
  width: 10rem;
}

.hyper-main .orders-main .order .price,
.hyper-main .orders-main .order .price-order,
.hyper-main .orders-main .order-info .price,
.hyper-main .orders-main .order-info .price-order,
.hyper-main .products-main .order .price,
.hyper-main .products-main .order .price-order,
.hyper-main .products-main .order-info .price,
.hyper-main .products-main .order-info .price-order {
  width: 7.6rem;
}

.hyper-main .orders-main .order .control-panel,
.hyper-main .orders-main .order .control,
.hyper-main .orders-main .order-info .control-panel,
.hyper-main .orders-main .order-info .control,
.hyper-main .products-main .order .control-panel,
.hyper-main .products-main .order .control,
.hyper-main .products-main .order-info .control-panel,
.hyper-main .products-main .order-info .control {
  width: 6.4rem;
}

.hyper-main .orders-main .order .control-panel .edit,
.hyper-main .orders-main .order .control .edit,
.hyper-main .orders-main .order-info .control-panel .edit,
.hyper-main .orders-main .order-info .control .edit,
.hyper-main .products-main .order .control-panel .edit,
.hyper-main .products-main .order .control .edit,
.hyper-main .products-main .order-info .control-panel .edit,
.hyper-main .products-main .order-info .control .edit {
  text-align: center;
}

.hyper-main .orders-main .order .control-panel button,
.hyper-main .orders-main .order .control button,
.hyper-main .orders-main .order-info .control-panel button,
.hyper-main .orders-main .order-info .control button,
.hyper-main .products-main .order .control-panel button,
.hyper-main .products-main .order .control button,
.hyper-main .products-main .order-info .control-panel button,
.hyper-main .products-main .order-info .control button {
  border: none;
  background: none;
  font-size: 1.6rem;
  padding: 0.5rem;
  margin: 0 0.2rem;
  cursor: pointer;
}

.add {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 25;
}

.add h1 {
  font-weight: 600;
  text-align: center;
  font-size: 2.5rem;
  margin: 2.5rem 0 1rem;
}

.add .input-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.add .input-area .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5rem 0;
  padding: 1rem 1.5rem;
  width: 100%;
}

.add .input-area .name label {
  margin: 0.5rem 0;
}

.add .input-area .name input {
  outline: none;
  border: 1px solid #464646;
  font-size: 1.6rem;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  width: 100%;
  margin: 0 auto;
}

.add .input-area .name input:focus {
  border: 1px solid #a52785;
}

.add .input-area .name .error-input {
  border: 1px solid tomato;
}

.add .add-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 1.6rem;
}

.add .add-buttons button {
  margin: 0 1rem;
  font-size: 1.6rem;
  background: none;
  border: none;
  padding: 1rem 1.5rem;
  border: 1px solid #a52785;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.add .add-buttons button:hover {
  color: #a52785;
}

.add .add-buttons .close-btn {
  border: 1px solid #464646;
}

.add .add-error,
.add .add-global-error {
  padding: 0.5rem 0;
  color: tomato;
}

nav.desktop {
  display: none;
}

.strap-background-shadow {
  -webkit-box-shadow: 0px 2px 10px 0px #e6e6e6;
          box-shadow: 0px 2px 10px 0px #e6e6e6;
}

.logo-icon-animation {
  -webkit-animation: logo-visible 10s infinite both;
          animation: logo-visible 10s infinite both;
}

.display-off {
  display: none;
}

.nav-mobile-open {
  top: 0;
}

.opacity-on {
  -webkit-animation: opacity 1s forwards;
          animation: opacity 1s forwards;
}

.opacity-off {
  -webkit-animation: opacityOff 1s forwards;
          animation: opacityOff 1s forwards;
}

.buttons-login {
  display: none;
}

.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-animation: opacity 1s;
          animation: opacity 1s;
}

.close {
  opacity: 0;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@-webkit-keyframes logo-visible-start {
  80% {
    color: #464646;
  }
  100% {
    color: rgba(255, 255, 255, 0);
  }
}

@keyframes logo-visible-start {
  80% {
    color: #464646;
  }
  100% {
    color: rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes logo-visible {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  20% {
    color: #464646;
  }
  80% {
    color: #464646;
  }
  100% {
    color: rgba(255, 255, 255, 0);
  }
}

@keyframes logo-visible {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  20% {
    color: #464646;
  }
  80% {
    color: #464646;
  }
  100% {
    color: rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes opacityOff {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes opacityOff {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (orientation: landscape) {
  .mobile {
    margin-top: 9rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .mobile ul {
    width: 50%;
    border-right: solid 1px #e6e6e6;
    border-bottom: none;
  }
  .mobile .buttons-login {
    width: 50%;
  }
}

@media (min-width: 576px) {
  .login-panel {
    width: 60%;
  }
}

@media (min-width: 720px) {
  .strap-background .strap .logo,
  .strap-background .strap .strap-bar {
    font-size: 3rem;
  }
  .strap-background .strap .nav-buttons .bar-nav {
    font-size: 3rem;
  }
  .mobile .buttons-login button {
    background: none;
    border: none;
  }
  .mobile .buttons-login button a {
    font-size: 2.5rem;
    width: 30rem;
  }
  .mobile .buttons-login li.main-beta {
    font-size: 2.5rem;
  }
  .mobile .buttons-login li.main-beta::after {
    right: 19%;
  }
  .mobile ul {
    border-bottom: none;
  }
  .mobile ul li a {
    font-size: 2.5rem;
  }
  .login-panel .login-buttons button {
    font-size: 2.5rem;
  }
  .login-panel h1.main {
    font-size: 4rem;
  }
  .login-panel .login-panel-container h2.main {
    font-size: 2.8rem;
  }
  .login-panel .login-panel-container .global-error {
    font-size: 1.5rem;
  }
  .login-panel .login-body {
    width: 90%;
  }
  .login-panel .login-body .email,
  .login-panel .login-body .password,
  .login-panel .login-body .registration-panel-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login-panel .login-body .email .error-input,
  .login-panel .login-body .password .error-input,
  .login-panel .login-body .registration-panel-container .error-input {
    border: 1px solid tomato;
  }
  .login-panel .login-body .email label,
  .login-panel .login-body .password label,
  .login-panel .login-body .registration-panel-container label {
    font-size: 1.5rem;
  }
  .login-panel .login-body .email input,
  .login-panel .login-body .password input,
  .login-panel .login-body .registration-panel-container input {
    font-size: 2.5rem;
  }
  .login-panel .login-body .email .error,
  .login-panel .login-body .password .error,
  .login-panel .login-body .registration-panel-container .error {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .login-panel .login-panel-container .global-error {
    font-size: 1.7rem;
  }
  .login-panel .login-body {
    width: 55%;
  }
  .login-panel .login-body .email label,
  .login-panel .login-body .password label,
  .login-panel .login-body .registration-panel-container label {
    font-size: 1.6rem;
  }
  .login-panel .login-body .email input,
  .login-panel .login-body .password input,
  .login-panel .login-body .registration-panel-container input {
    font-size: 2.5rem;
  }
  .login-panel .login-body .email .error,
  .login-panel .login-body .password .error,
  .login-panel .login-body .registration-panel-container .error {
    font-size: 1.7rem;
  }
}

@media (min-width: 1200px) {
  .strap-background .strap .logo-icon-animation-start {
    -webkit-animation: logo-visible-start 10s both;
            animation: logo-visible-start 10s both;
  }
  .strap-background .strap .strap-bar {
    display: none;
  }
  .strap-background .strap .logo {
    font-size: 2.5rem;
    line-height: 9rem;
  }
  nav.mobile {
    display: none;
  }
  nav.desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.desktop .ul-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 9rem;
  }
  nav.desktop .ul-desktop li {
    list-style: none;
    height: 9rem;
  }
  nav.desktop .ul-desktop li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #464646;
    padding: 0 2.5rem;
    font-size: 1.6rem;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    height: 100%;
  }
  nav.desktop .ul-desktop li a::after {
    content: '';
    position: absolute;
    height: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #a52785;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  nav.desktop .ul-desktop li a:hover {
    color: #a52785;
  }
  nav.desktop .ul-desktop li a:hover::after {
    content: '';
    position: absolute;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #a52785;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .buttons-login {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: wrap;
            flex-direction: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    font-size: 1.6rem;
    padding: 0 2.5rem;
    line-height: 9rem;
  }
  .buttons-login::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 4.1rem;
    width: 0.1rem;
    background-color: #e6e6e6;
  }
  .buttons-login p {
    position: relative;
    margin-right: 6rem;
  }
  .buttons-login p::before {
    content: 'beta';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -4rem;
    height: 1.5rem;
    width: 3.5rem;
    text-align: center;
    line-height: 1.5rem;
    background-color: #a52785;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .buttons-login button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .buttons-login button a {
    border: 1px solid #a52785;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: #464646;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .buttons-login button a:hover {
    color: #a52785;
  }
  .wrapper {
    margin-top: 0;
  }
  .login-panel {
    width: 42%;
  }
  .login-panel .login-buttons button {
    font-size: 1.6rem;
  }
  .login-panel h1.main {
    font-size: 2.5rem;
  }
  .login-panel .login-panel-container {
    padding-top: 7rem;
  }
  .login-panel .login-panel-container h2.main {
    font-size: 2.5rem;
    width: 100%;
  }
  .login-panel .login-panel-container .global-error {
    font-size: 1.4rem;
  }
  .login-panel .login-body .email label,
  .login-panel .login-body .password label,
  .login-panel .login-body .registration-panel-container label {
    font-size: 1.1rem;
  }
  .login-panel .login-body .email input,
  .login-panel .login-body .password input,
  .login-panel .login-body .registration-panel-container input {
    padding: 1rem 1rem;
    font-size: 1.6rem;
    border: 1px solid #464646;
    border-radius: 8px;
  }
  .login-panel .login-body .email .generate-paragraph,
  .login-panel .login-body .password .generate-paragraph,
  .login-panel .login-body .registration-panel-container .generate-paragraph {
    margin-bottom: 1rem;
  }
  .login-panel .login-body .email .error,
  .login-panel .login-body .password .error,
  .login-panel .login-body .registration-panel-container .error {
    margin: 0.5rem 0;
    font-size: 1.3rem;
    color: tomato;
  }
  .login-panel .login-body .email .generate-error,
  .login-panel .login-body .password .generate-error,
  .login-panel .login-body .registration-panel-container .generate-error {
    margin: 0;
  }
  .login-panel .login-body .email,
  .login-panel .login-body .password {
    margin: 0rem 0;
  }
  .login-panel .registration-panel-container {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */