body{
    background-color: white;
}
.registration-block{
    width: 30%;
    height: 60vh;
    margin: auto;
    margin-top: 10%;
    border: solid 1px blue;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.registration-block h1{
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}
#lb1{
    margin-right: 62%;
    font-weight: 500;
    font-size: 80%;
    
}
#inp1{
    width: 70%;
    padding: 1%;
    height: 30px;
    border-radius: 10px;
    border: solid 1px black;
    margin-top: 1%;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    
    
}
#lb2{
    font-size: 80%;
    font-weight: 500;
    margin-right: 56.1%;    

}
#inp2{
    width: 70%;
    padding: 1%;
    height: 30px;
    border-radius: 10px;
    border: solid 1px black;
    margin-top: 1%;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    
}
